In [16]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import datetime

# Database Connection String
# Format: postgresql://username:password@localhost:5432/database_name
DB_CONNECTION = 'postgresql://postgres:T4e!fsF#GY3@localhost:5432/Anomaly_db'

In [17]:
def generate_synthetic_data(days=30):
    """
    Generates synthetic hourly energy load data.
    """
    date_range = pd.date_range(end=datetime.datetime.now(), periods=days*24, freq='h')
    
    # Base signal: Sine wave to mimic daily cycles + random noise
    x = np.linspace(0, days * 2 * np.pi, len(date_range))
    base_load = 500 + 200 * np.sin(x) # Daily cycle
    noise = np.random.normal(0, 20, len(date_range)) # Random fluctuations
    
    load_values = base_load + noise
    
    # Inject Artificial Anomalies (Spikes)
    # Let's add 5 random huge spikes
    random_indices = np.random.choice(len(load_values), 5, replace=False)
    load_values[random_indices] += 400  # Massive spike
    
    df = pd.DataFrame({
        'timestamp': date_range,
        'load_value': load_values
    })
    
    return df

# Run the function
df_raw = generate_synthetic_data()
print(f"Generated {len(df_raw)} rows of data.")
df_raw.head()

Generated 720 rows of data.

                   timestamp  load_value
0 2025-11-01 17:01:30.890986  531.290473
1 2025-11-01 18:01:30.890986  551.735396
2 2025-11-01 19:01:30.890986  605.253744
3 2025-11-01 20:01:30.890986  643.987951
4 2025-11-01 21:01:30.890986  677.865338

In [18]:
# Create SQLAlchemy engine
engine = create_engine(DB_CONNECTION)

# Write data to SQL
# 'if_exists="replace"' means it will overwrite the table for this test
try:
    df_raw.to_sql('energy_data', engine, if_exists='replace', index=False)
    print("✅ Success! Data successfully saved to PostgreSQL.")
except Exception as e:
    print(f"❌ Error: {e}")

✅ Success! Data successfully saved to PostgreSQL.